/* src/component/blog/BlogFAB.css */

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .fab {
    width: 50px;
    height: 50px;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none; /* Prevent text selection */
  }
  
  .fab:hover {
    background-color: #ff8c42;
    color: white;
  }
  
  .fab-email {
    background-color: #f28b02;
    color: white;
  }
  
  .fab-facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .fab-comment {
    background-color: #ffcc00;
    color: white;
  }
  
  .fab-close {
    background-color: #333;
    color: white;
  }
  