.write-post-container {
    max-width: 600px;
    margin: 65px auto 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    
}

.write-post-container h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.write-post-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.form-group select {
    appearance: none; /* Remove default dropdown arrow */
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="rgba(0, 0, 0, 0.54)"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px 24px;
    cursor: pointer;
}

.form-group input[type="file"] {
    display: none;
}

.file-label {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
}

.file-selected {
    font-size: 14px;
    color: #888;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4f9bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #e64a19;
}
