body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background::before {
  content: '';
  background-image: url('./Background.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 2rem;
  transform: translate3d(-50%, -2rem, 0px);
  opacity: 1;
  transition: transform 2s ease 0s, opacity 2s ease 0s;
  color: white;
  font-size: 34px;
  text-align: center;
  margin-bottom: 0;
}

@keyframes move {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); }
}

.moving-element {
  animation: move 2s infinite;
}
